@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #07050d;
    color: #f3e8ff;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #07050d;
}

::-webkit-scrollbar-thumb {
  background: #3b0764;
  border-radius: 4px;
}